.input-animated {
  position: relative;
  width: 100%;

  span {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
    transition: all 0.3s ease-in;
    font-weight: bold;
  }

  input {
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid black;
    outline: none;
    width: 100%;
  }

  input:focus + span,
  input:valid + span {
    top: 0%;
    left: 0.5em;
    background-color: white;
    padding-inline: 1em;
  }
}

.button-animated {
  box-shadow: inset 0 #00000064;
}

.button-animated:hover {
  box-shadow: inset 2px 2px 2px 2px #00000055;
}
